<div class="main-content">
    <div class="login-contenedor">
      <div class="login-subcontenedor">
          <button (click)="navigateToProximos()" class="inicio-boton iniciar" style="width:auto;">Proximos Partidos</button>
          <button (click)="navigateToFinalizados()" class="inicio-boton registrar" style="width:auto;">Partidos Finalizados</button>
          <button (click)="navigateToRanking()" class="inicio-boton registrar" style="width:auto;">Ranking</button>
          <button (click)="navigateToSalir()" class="inicio-boton registrar" style="width:auto;">Salir</button>
        </div>
    </div>
  </div>