.login-contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
}

body {
  display: grid;
  place-content: center;
  margin: 0;
  height: 100vh;
  font-family: system-ui, sans-serif;
}

.login-subcontenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  background-color: black;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 50px;
  transition: transform 0.5s ease;
}

.login-subcontenedor:hover {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  background: rgba(0, 0, 0, 0.6);
  transform: scale(1.1);
}

button {
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0);
  border-color: white;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.registrar {
  margin-top: 50px;
}

.inicio-boton {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  letter-spacing: 4px
}

.inicio-boton:hover{
  background: #3a3ae3;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #3a3ae3,
              0 0 25px #3a3ae3,
              0 0 50px #3a3ae3,
              0 0 100px #3a3ae3;
}