<div class="main-content">
  <div class="crear-torneo-contenedor">
    <div class="crear-torneo-subcontenedor">
      <div class="form-general">
        <div class="form-group">
          <label for="nombreTorneo">Ingresar nombre del torneo</label>
          <input id="nombreTorneo" [(ngModel)]="nombreTorneo" type="text" class="form-control form-control2">
        </div>
        <div class="form-group">
          <label for="ano">Ingresar el año del torneo</label>
          <input id="anoTorneo" [(ngModel)]="anoTorneo" type="text" class="form-control form-control2">
        </div>
      </div>

      <div class="equipo-form-group">
        <label class="nombre-tit" for="subcampeon"><b>Añadir equipos</b></label>
        <div class="contenedorr">
          <input id="subcampeon" [(ngModel)]="nombreEquipo" class="inputs cositacosita" type="text" name="uname" disabled>
          <button type="button" (click)="openModal('subcampeon')" class="inicio-boton anashei">Selec</button>
        </div>
        <button (click)="agregarEquipo()" class="btn-agregar inicio-boton">Agregar Equipo</button>
      </div>
      <div class="lista-equipos">
        <div class="equipo" *ngFor="let equipo of equiposs">
          <span>{{ equipo.nombre }}</span>
          <button (click)="eliminarEquipo(equipo.id)" class="btn-eliminar inicio-boton"></button>
        </div>
      </div>
      <div class="botones">
        <button (click)="cancelar()" class="btn-cancelar inicio-boton">Cancelar</button>
        <button (click)="crearTorneo()" class="btn-crear inicio-boton">Crear</button>
      </div>
    </div>
  </div>
</div>

<div id="id01" class="login-box" [ngClass]="{'show': bandera}">
  <form>
      <div class="user-box">
        <div class="number-grid">
          <div class="number-item" *ngFor="let equipo of equipos" [class.selected]="selectedEquipo === equipo" (click)="selectEquipo(equipo)">
              {{ equipo }}
          </div>
      </div>
      </div>
      <div class="zona-boton-send">
        <button class="save-btn" (click)="saveSelectedEquipo()" type="button">Guardar</button>
      </div>
  </form>
</div>