<div class="main-content">
  <div class="crear-torneo-contenedor">
    <div class="crear-torneo-subcontenedor">
      <div class="form-group">
        <label for="nombreTorneo">Ingresar nombre del torneo</label>
        <input id="nombreTorneo" [(ngModel)]="nombreTorneo" type="text" class="form-control">
      </div>
      <div class="equipo-form-group">
        <label for="nombreEquipo">Nombre Equipo</label>
        <input id="nombreEquipo" [(ngModel)]="nombreEquipo" type="text" class="form-control">
        <button (click)="agregarEquipo()" class="btn-agregar inicio-boton">Agregar Equipo</button>
      </div>
      <div class="lista-equipos">
        <div class="equipo" *ngFor="let equipo of equipos">
          <span>{{ equipo.nombre }}</span>
          <button (click)="eliminarEquipo(equipo.id)" class="btn-eliminar inicio-boton">X</button>
        </div>
      </div>
      <div class="botones">
        <button (click)="cancelar()" class="btn-cancelar inicio-boton">Cancelar</button>
        <button (click)="crearTorneo()" class="btn-crear inicio-boton">Crear</button>
      </div>
    </div>
  </div>
</div>
