<div class="main-content">
    <div class="login-contenedor">
      <div class="login-subcontenedor">
          <button (click)="navigateToCrearTorneo()" class="inicio-boton iniciar" style="width:auto;">Crear torneo</button>
          <button (click)="navigateToSeleccionarTorneo()" class="inicio-boton registrar" style="width:auto;">Actualizar torneo</button>
          <button (click)="navigateToSalir()" class="inicio-boton registrar" style="width:auto;">Salir</button>
        </div>
    </div>
  </div>