<div class="login-contenedor main-content" [ngClass]="{'blurred': bandera}">
  <div class="login-subcontenedor">
      <h1 class="login-titulo">HAGA LAS PREDICCIONES DEL TORNEO</h1>
      <form class="form-prediccion-registro">
          <div class="container">
              <div class="contenedor-predecir-campeon">
                  <label class="nombre-tit" for="campeon"><b>Ingrese su campeón</b></label>
                  <input id="campeon" class="inputs" type="input" name="uname" disabled>
                  <button type="button" (click)="openModal('campeon')" class="inicio-boton">Seleccionar</button>
              </div>
              <div class="contenedor-predecir-subcampeon">
                  <label class="nombre-tit" for="subcampeon"><b>Ingrese su subcampeón</b></label>
                  <input id="subcampeon" class="inputs" type="text" name="uname" disabled>
                  <button type="button" (click)="openModal('subcampeon')" class="inicio-boton">Seleccionar</button>
              </div>
          </div>
          <div class="contenedor-boton-continuar">
              <button (click)="navigateToSala()" class="submit-login inicio-boton" type="submit">Continuar</button>
          </div>
      </form>
  </div>
</div>

<div id="id01" class="login-box" [ngClass]="{'show': bandera}">
  <form>
      <div class="user-box">
        <div class="number-grid">
          <div class="number-item" *ngFor="let equipo of equipos" [class.selected]="selectedEquipo === equipo" (click)="selectEquipo(equipo)">
              {{ equipo }}
          </div>
      </div>
      </div>
      <div class="zona-boton-send">
        <button class="save-btn" (click)="saveSelectedEquipo()" type="button">Guardar</button>
      </div>
  </form>
</div> 