<div class="login-contenedor">
    <div class="login-subcontenedor">
      <div class="header">
        <button (click)="navigateToSala()" class="boton-exit inicio-boton registrar">Volver</button>
        <h2 class="titulo-ran">Partidos Finalizados</h2>
      </div>
      <div class="lista-partidos">
        <div class="partido" *ngFor="let partido of partidos">
          <div class="equipo-nombres">
            <span class="equipo">{{ partido.nombre_eq1 }} vs {{ partido.nombre_eq2 }}</span><br>
            <span class="equipo">Puntaje: {{partido.puntaje}}</span><br>
            <span class="fecha">{{ partido.fecha_hora | date: 'dd/MM/yyyy' }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  