<div class="login-contenedor main-content" [ngClass]="{'blurred': bandera}">
    <div class="login-subcontenedor">
        <h1 class="login-titulo">SELECCIONE EL EVENTO EN EL QUE DESEA PARTICIPAR</h1>
        <form class="form-prediccion-registro">
            <div class="container">
                <div class="contenedor-predecir-campeon">
                    <input id="campeon" class="inputs" type="input" name="uname" disabled>
                    <button type="button" (click)="openModal('campeon')" class="inicio-boton">Seleccionar</button>
                </div>
            </div>
            <div class="contenedor-boton-continuar">
                <button (click)="navigateToSala()" class="submit-login inicio-boton" type="submit">Continuar</button>
            </div>
        </form>
    </div>
  </div>
  
  <div id="id01" class="login-box" [ngClass]="{'show': bandera}">
    <form>
        <div class="user-box">
          <div class="number-grid">
            <div class="number-item" *ngFor="let evento of eventos" [class.selected]="selectedEvento === evento" (click)="selectEvento(evento)">
                {{ evento.nombre }}
            </div>
        </div>
        </div>
        <div class="zona-boton-send">
          <button class="save-btn" (click)="saveSelectedEvento()" type="button">Guardar</button>
        </div>
    </form>
  </div> 
