<div class="main-content">
    <div class="crear-torneo-contenedor">
      <div class="crear-torneo-subcontenedor">
          <label for="nombreEquipo">Nombre Equipo</label>
          <input id="nombre-equipo" type="text" name= "" class="form-control">
        <div class="botones">
          <button (click)="cancelar()" class="btn-cancelar inicio-boton">Cancelar</button>
          <button (click)="actualizarTorneo()" class="btn-crear inicio-boton">Crear</button>
        </div>
      </div>
    </div>
  </div>