<div class="main-content">
    <div class="login-contenedor">
      <div class="login-subcontenedor">
          <button (click)="navigateToActualizarResultado()" class="inicio-boton iniciar" style="width:auto;">Actualizar Resultado</button>
          <button (click)="navigateToIngresarPartido()" class="inicio-boton registrar" style="width:auto;">Ingresar Partido</button>
          <button (click)="navigateToAgregarEquipo()" class="inicio-boton registrar" style="width:auto;">Agregar Equipo</button>
        </div>
    </div>
  </div>