<div class="login-contenedor" [ngClass]="{'blurred-background': bandera}">
    <div class="login-subcontenedor">
      <div class="header">
        <button (click)="navigateToSala()" class="boton-exit inicio-boton registrar">Volver</button>
        <h2 class="titulo-ran">Próximos Partidos</h2>
      </div>
      <div class="lista-partidos">
        <div class="partido" *ngFor="let partido of partidos">
          <div class="equipo-nombres">
            <span class="equipo">{{ partido.nombre_eq1 }} vs {{ partido.nombre_eq2 }}</span>
            <span class="fecha"> {{ partido.fecha_hora | date: 'dd/MM/yyyy HH:mm' }}</span>
          </div>
          <button (click)="setBanderaPredecir(partido)" class="btn-actualizar">Actualizar</button>
        </div>
      </div>
    </div>
  </div>

  <div id="id01" class="login-box" [ngClass]="{'show': bandera}">
    <form>
      <button class="button-cruz"(click)="closeForm()">
        <span class="X"></span>
        <span class="Y"></span>
      </button>
      <div class="user-box">
        <input type="text" id="prediccion-eq1" name="" required="">
        <label>Resultado {{ selectedPartido?.nombre_eq1 }}</label>
      </div>
      <div class="user-box">
        <input type="text" id="prediccion-eq2" name="" required="">
        <label>Resultado {{ selectedPartido?.nombre_eq2 }}</label>
      </div>
      <div class="zona-boton-send">
        <button (click)="guardar()" class="inicio-boton">
          GUARDAR
        <span></span>
        </button>
      </div>
    </form>
  </div>
  