<div class="login-contenedor">
    <div class="login-subcontenedor">
        <div id="seleccionar-pais">
            <!-- Esto la verdad todavia no lo entendi, lo copie para ver dsp como interactuamos con la base-->
            <div 
                *ngFor="let pais of paises"
                [class.selected]="pais.id === paisSeleccionado?.id"
                (click)="seleccionarPais(pais)"
                class="pais"
            >
                <img [src]="pais.imagen" alt="{{ pais.nombre }}">
                <p>{{ pais.nombre }}</p>
            </div>
        </div>
        <button class="inicio-boton" id="guardar-seleccion">Guardar</button>
    </div>
  </div>